/* style.css */
/* Style the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
/* Style the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 50px;
}
/* Style the logo */
.navbar-logo img {
  height: 40px;
}
/* Style the title in the navbar */
.navbar-title {
  color: #fff;
  text-align: center;
  flex-grow: 1;
  font-size: 30px;
  left: 50%;
  transform: translateX(-55%);
}

/* Style the gallery container */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: auto;
  max-width: 1200px;
  background-color: lightcoral;
}
/* Style the photos */
.photo {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
/* Style the images zoomed */
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform; /* Optimize for zoom effect */
}
/* Style the hover effect */
.photo:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
/* Style the fullscreen container */
.fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: visibility 0.3s, background-color 3s;
}
/* Style the image in fullscreen */
.fullscreen-container img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;

  transition: transform 0.5s ease;
}
/*style root carousel*/
:root {
  --carousel-width: 210px;
  --carousel-height: 140px;
  --figure-width: 186px;
  --figure-height: 250px;
  --z: 288px;
}
/* Style the carousel container */
.container {
  width: var(--carousel-width);
  height: var(--carousel-height);
  position: relative;
  perspective: 1000px;
  padding: 100px 0 0 0;
  margin-bottom: 150px;
}
/* Style the carousel images */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Style the carousel */
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-bottom: 100px;
}
/* Style the carousel figures */
.carousel figure {
  margin: 0;
  display: block;
  position: absolute;
  width: var(--figure-width);
  height: var(--figure-height);
  left: 10px;
  top: 10px;
  border-radius: 20px;
  text-align: center;
  line-height: var(--figure-height);
  color: #fff;
  font-size: 2rem;
}
figure.central img {
  transform: scale(1.5);
}
/*position the images*/
.carousel figure:nth-of-type(1) {
  transform: rotateY(0deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(2) {
  transform: rotateY(40deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(3) {
  transform: rotateY(80deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(4) {
  transform: rotateY(120deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(5) {
  transform: rotateY(160deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(6) {
  transform: rotateY(200deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(7) {
  transform: rotateY(240deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(8) {
  transform: rotateY(280deg) translateZ(var(--z));
}
.carousel figure:nth-of-type(9) {
  transform: rotateY(320deg) translateZ(var(--z));
}

/* Style the buttons */
button.btn {
  width: 100px;
  height: 50px;
  position: absolute;
  left: -340px;
  top: 230px;
  bottom: -100px;
  border: 2px solid blue;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  color: darkorange;
  outline: none;
}

button.btn:nth-of-type(2) {
  left: 210%;
  top: 230px;
}

.scroll {
  margin-top: 200px;

  padding-right: 40px;
  background-color: aqua;
  width: 100%;
}
.scroll :nth-child(1) {
  margin-left: 10px;
}

.scroll :nth-child(2) {
  margin-left: 310px;
}

.scroll :nth-child(3) {
  margin-left: 610px;
}

.scroll :nth-child(4) {
  margin-left: 910px;
}

.scroll :nth-child(5) {
  margin-left: 1210px;
}

.scroll img {
  width: 300px;
  height: 200px;
}
footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
 
  text-align: center;
  font-size: 1.5em;
  background-color: black;
  color: white;
  width: 100%;
  padding-right: 40px;
}
